
@media (min-width: 992px) {

    .card-text{
        position: relative;
        bottom: 10% !important;
    }

    .wrapper::before {
        position: absolute;
        content: '';
        height: 200px;
        width: 200px;
        z-index: -111;
        border-radius: 50%;
        left: -5%;
        top: 60%;
        background: linear-gradient(45deg, #aaa, pink);
        animation: object2 6s linear infinite;

      }

      @keyframes object2 {
        50% {
          left: 10%;
          top: 55%;
        }
      }


      .wrapper::after{
        position: absolute;
        content: '';
        height: 200px;
        width: 200px;
        z-index: -111;
        border-radius: 50%;
        right: 20%;
        top: 15%;
        background: linear-gradient(45deg, #aaa, pink);
        animation: object3 6s linear infinite;

      }

      @keyframes object3 {
        50% {
          right: 10%;
          top: 20%;
        }
      }
  }


  @media (max-width:992px){

    .wrapper::before {
        position: absolute;
        content: '';
        height: 200px;
        width: 200px;
        z-index: -111;
        border-radius: 50%;
        left: -5%;
        top: 50%;
        background: linear-gradient(45deg, #aaa, pink);
        animation: object2 6s linear infinite;

      }

      @keyframes object2 {
        50% {
          left: 10%;
          top: 60%;
        }
      }


      .wrapper::after{
        position: absolute;
        content: '';
        height: 100px;
        width: 100px;
        z-index: -111;
        border-radius: 50%;
        right: 20%;
        top: 10%;
        background: linear-gradient(45deg, #aaa, pink);
        animation: object3 6s linear infinite;

      }

      @keyframes object3 {
        50% {
          right: 10%;
          top: 15%;
        }
      }


      /*  */
      @keyframes typewriter {
        from {
          width: 0;
        }
        to {
          width: 190px;
        }
      }

  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 90%;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 90%;
    }
  }
  
  .fade-in {
    animation: fadeIn2 2s ease-in-out;
  }

  @keyframes fadeIn3 {
    from {
      opacity: 0;
    }
    to {
      opacity: 90%;
    }
  }
  
  .fade-in {
    animation: fadeIn3 3s ease-in-out;
  }

  
/* Cursor auto write */
#pyName {
  position: relative;
  color: hsl(0, 0%, 68%);
  font-weight: bold;
  /* font-family: "Anonymous Pro", monospace; */
  /* letter-spacing: 7px; */
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}


@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}


#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  margin-top: 50px;
}



  